root = true

[*]
quote_type = single
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{html,marko,json}]
indent_style = tab
indent_size = 4

[*.{json}]
quote_type = double

[package.json]
indent_style = space
indent_size = 2
